{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Instagram</title>
    <link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" />
    <link rel="icon" href="{% static 'img/icon.png' %}">
</head>
<body>
    <div class="login_container">
        <img class="instagramText" src="{% static 'img/logo_text.png' %}" alt="instagramText">
        <input type="text" class="userLogin" placeholder="전화번호, 사용자 이름 또는 이메일">
        <input type="password" class="userLogin" placeholder="비밀번호">
        <button id="loginButton" disabled>로그인</button>
    </div>
    <div class="join_container">
        <footer class="joinInsta">
            <p class="join">계정이 없으신가요? 
                <button class="joinBtn">가입하기</button>
            </p>
        </footer>
    </div>
</body>
</html>