header{
    display:flex;
}

.left_box{
    display:flex;
    margin:0 auto;
}
.right_box{
    display:flex; 
    margin:0 auto;
} 

.faviconFrame,.heart, .myInfo {
    width:25px;
    height:25px;
    padding-left:30px;
}

.logo{
    padding-left:30px;
    height:30px;
}
